
 <div class="container-fluid bg-dark py-3 text-white">

    <h1>Audit Management System</h1>

</div>
  <div class="py-3"></div>


<div class="container">
    

        <div class="row mx-auto my-2 pt-4" style="width: max-content;">
        
            <div class="card-body bg-dark  text-white" style="width:400px;border-radius: 3.5rem ;">
                
                <h5 class="fw-normal  m-3 text-center" style="letter-spacing: 2px;"><b>Sign in</b></h5>
                <h6 class="fw-normal mb-3 pb-3 m-3 text-center" style=" color: dimgray;">Please Enter Email and Password</h6>
                <div class="form-outline mb-2 mx-5 ">
                    <input type="text" id="form2Example17" 
                   value="rita@gmail.com" placeholder="Email address" class="form-control form-control-md" required />
                    <label class="form-label" for="form2Example17"></label>
                </div>

                <div class="form-outline  mx-5">
                    <input type="password" id="form2Example27" value="rita@123" placeholder="Password" class="form-control form-control-md" required />
                    <label class="form-label" for="form2Example27"></label>
                </div>

                <div class="text-center pt-1 mb-4">
                    <button class="btn btn-primary  " (click)="onSubmit()" type="button">Login</button>
                </div>
            </div>
        </div>
</div>
   
    