<app-header></app-header>
   <div class="py-4"></div>

    <div class="container text-center">
    <table class="table table-dark table-sm table-bordered">
        
        <thead >
          <tr>
            <th scope ="col">Audit Type</th>
            <th scope ="col">Questions</th> 
            <th scope ="col">Choices</th>
            <th scope ="col">Response</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ques of internalQuestions; let i = index; ">

                <td>Internal</td>
                <td class="col-sm-5" name="question">{{ internalQuestions[i].auditChecklistQuestions }}</td>
                <td class="col-sm-3" name="response_table_data">
                  <input type="button" value="YES" class="btn btn-success mx-4 px-4" (click) = "fn_response(i,'YES')"/>
                  <input type="button" value="NO" class="btn btn-danger mx-4 px-4"(click) = "fn_response(i,'NO')"/>
               </td>
               <td class="col-sm-2" name="respon">{{yesOrNoResponse[i]}}</td>
            </tr>
        </tbody>
    </table>
    <div class="qdivbtn" st>
      <button type="submit" class="btn btn-info lastbtn" (click)="onSubmit()">Submit</button>
    </div>
    </div>

