<app-header></app-header>

<div class="py-5"></div>

<div class="row justify-content-center">

    <div class="row col-md-8">

<table class="table" >

    <thead class="table-dark">

        <tr style="text-align: center;">

          <th scope="col">Audit Id</th>

          <th scope="col">Project Name</th>
          <th scope="col">Audit Type</th>   
          <th scope="col">Audit Status</th>

        </tr>

      </thead>

      <tbody class="table table-dark table-striped">

        <tr style="text-align: center;">

          <th scope="row">{{auditStatus[auditStatusLength].auditStatusId}}</th>

          <td>SmartOps</td>

          <td>{{auditStatus[auditStatusLength].auditType}}</td>

          <td>{{auditStatus[auditStatusLength].auditStatus}}</td>

        </tr>

      </tbody>

</table>
<div class="qdivbtn ">
  <button type="submit" class="btn btn-info lastbtn"   (click)="onSubmit()">Audit Again</button>
</div>

    </div>

</div>
